@model AS.ImageAlbum.Website.Models.ImageData.ImageEdit

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .image-box {
        width: 100%;
        height: 100%;
    }
</style>

<h1>Edit</h1>

<h4>ImageEdit</h4>
<hr />
<div class="row">
    @if (!string.IsNullOrWhiteSpace(this.Model.Message))
    {
        <div class="col-md-12">
            <div class="alert alert-info">
                @this.Model.Message
            </div>
        </div>
    }
    <div class="col-md-12">
        <form enctype="multipart/form-data" method="post" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <span id="tag-wrapper">
                @for (int i = 0; i < this.Model.TagIDs.Length; i++)
                {
                    <span class="tag-parent">
                        <button type="button" class="btn btn-primary tag-button">@this.Model.TagNames[i] <span class="badge badge-danger">X</span></button>
                        <input type="hidden" name="TagNames" value="@this.Model.TagNames[i]" /><input type="hidden" name="TagIDs" value="@this.Model.TagIDs[i]">
                    </span>
                }
            </span>
            <input id="tag-input" type="text" /><button id="add-tag">Add Tag</button>
            <input asp-for="ImageId" type="hidden" />
            <div class="form-group">
                <img src="@Model.ImageDisplay" alt="@Model.ImageAlt" class="image-box" />
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="ImageFile" class="custom-file-input" id="ImageFile" type="file">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageName" class="control-label"></label>
                <input asp-for="ImageName" class="form-control" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageAlt" class="control-label"></label>
                <input asp-for="ImageAlt" class="form-control" />
                <span asp-validation-for="ImageAlt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        AddTag = function () {
            $('#tag-wrapper').append('<span class="tag-parent"><button type="button" class="btn btn-primary tag-button">' + $("#tag-input").val() + '<span class="badge badge-danger">X</span></button><input type="hidden" name="TagNames" value="' + $("#tag-input").val() + '" /><input type="hidden" name="TagIDs" value="00000000-0000-0000-0000-000000000000"></span>');
            $("#tag-input").val("");
        }

        $("#add-tag").click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            AddTag();
            return false;
        })
        $("#tag-input").keypress(function (e) {
            if (e.keyCode === 13) {
                e.preventDefault();
                e.stopPropagation();
                AddTag();
                return false;
            }
        });
        $(".tag-button").on("click", function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).parent().remove();
        });
    </script>
}
